In [20]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

df=pd.DataFrame()
for no in range(10,38):
    temp=pd.read_csv("../Processed Data/fileID"+str(no)+"_ProcessedTripData.csv",header= None)
    #print(temp)  
    df=pd.concat([df,temp])


df.columns=['Time','Vehicle Speed','SHIFT','Engine Load','Total Acceleration','Engine RPM','Pitch','Lateral Acceleration','Passenger Count','Car Load','AC Status','Window Opening','Radio Volume','Rain Intensity','Visibility','Driver Wellbeing','Driver Rush']

# Multiply the 'Vehicle Speed' by 3.6 to get km/h
df['Vehicle Speed'] = df['Vehicle Speed'] * 3.6

newdf = df[df.SHIFT != 0]
newdf = newdf.reset_index(drop=True)

# Column SHIFT moved to the last position
column_to_move = 'SHIFT'
columns = [col for col in newdf.columns if col != column_to_move]
newdf = newdf[columns + [column_to_move]]

df = newdf

df.dropna(inplace=True)

# Set the display format to show real numbers, not scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

df.describe()

,Time,Vehicle Speed,Engine Load,Total Acceleration,Engine RPM,Pitch,Lateral Acceleration,Passenger Count,Car Load,AC Status,Window Opening,Radio Volume,Rain Intensity,Visibility,Driver Wellbeing,Driver Rush,SHIFT
count,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000,3228015.000
mean,1342.519,46.641,10.357,0.272,2039.619,1.244,-0.021,0.658,4.639,0.086,0.593,3.469,0.152,9.676,6.510,3.016,3.412
std,901.246,24.403,8.100,0.694,553.765,1.896,0.521,0.859,2.165,0.372,1.309,2.105,0.532,0.678,1.058,1.083,1.256
min,7.677,4.773,2.000,-5.101,800.020,-10.549,-5.963,0.000,3.000,0.000,0.000,0.000,0.000,7.000,4.000,0.000,1.000
25%,585.950,28.186,4.122,-0.148,1674.200,0.604,-0.111,0.000,3.000,0.000,0.000,2.000,0.000,10.000,6.000,3.000,2.000
50%,1238.500,42.264,8.054,0.223,1987.300,1.307,-0.006,0.000,3.000,0.000,0.000,4.000,0.000,10.000,7.000,3.000,3.000
75%,1886.900,64.890,13.584,0.626,2292.400,1.970,0.085,1.000,7.000,0.000,0.000,5.000,0.000,10.000,7.000,3.000,5.000
max,4287.900,115.150,69.655,4.523,5680.800,12.277,5.777,4.000,8.000,4.000,6.000,8.000,3.000,10.000,8.000,5.000,5.000

In [21]:
df.head()

,Time,Vehicle Speed,Engine Load,Total Acceleration,Engine RPM,Pitch,Lateral Acceleration,Passenger Count,Car Load,AC Status,Window Opening,Radio Volume,Rain Intensity,Visibility,Driver Wellbeing,Driver Rush,SHIFT
0,60.569,9.987,7.843,-0.173,1306.500,-1.625,1.599,0,3,0,2,6,0,9,5,3,1
1,60.579,9.965,7.826,-0.195,1308.800,-1.642,1.599,0,3,0,2,6,0,9,5,3,1
2,60.589,9.940,7.809,-0.214,1311.100,-1.659,1.595,0,3,0,2,6,0,9,5,3,1
3,60.599,9.910,7.791,-0.231,1313.600,-1.676,1.568,0,3,0,2,6,0,9,5,3,1
4,60.608,9.893,7.774,-0.245,1316.100,-1.693,1.565,0,3,0,2,6,0,9,5,3,1